<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <header th:include="~{../static/html/headerlog.html}"></header>
      <div class="container_formU">
        <div class="row">
          <div class="col-6 m-auto">
            <form th:action="@{/liquidacion/actualizar/{idLiquidacion}(idLiquidacion=${liquidacion.getIdLiquidacion()})}" id="contactForm" th:method="post">

            <div class="container text-center">
                <div class="col mb-4 mt-4">
                  <h3>Editar liquidacion</h3>
                </div>
              </div>
              <div class="mb-3">
                <label for="idTrabajador">Trabajador</label>
                <select class="form-control" id="idTrabajador" name="trabajadorId">
                  <option th:each="trabajador: ${trabajador}" th:value="${trabajador.idTrabajador}"
                          th:text="${trabajador.nombre + ' ' + trabajador.apellido1}">
                  </option>
                </select>
              </div>
              <div class="mb-3">
               <label for="periodo" class="form-label">Periodo</label>
               <input type="text" class="form-control" name="periodo" id="periodo" th:value="${liquidacion.getPeriodo()}">
             </div>

              <div class="form-group mb-3">
                <label for="sueldoImponible">Sueldo imponible</label>
                <input type="number" class="form-control" id="sueldoImponible" name="sueldoImponible"
                       placeholder="Ingrese sueldo imponible"   th:value="${liquidacion.getSueldoImponible()}">
              </div>

              <div class="mt-4 mb-3">
                <label for="idInstSalud" class="form-label">Institución de Salud</label>
                <select class="form-control" id="idInstSalud" name="saludId">
                  <option th:each="salud : ${salud}"
                          th:value="${salud.idInstSalud}"
                          th:text="${salud.descripcion}"
                          th:selected="${salud.idInstSalud == salud?.idInstSalud}"></option>
                </select>
              </div>

              <div class="mt-4 mb-3">
                <label for="montoSalud" class="form-label">Monto Salud</label>
                <input id="montoSalud" class="form-control" type="number" name="montoSalud" th:value="${liquidacion.getMontoInstSalud()}" >
              </div>

              <div class="mt-4 mb-3">
                <label for="idInstPrevision" class="form-label">AFP</label>
                <select id="idInstPrevision" class="form-control" name="previsionId">
                  <option
                          th:each="prevision: ${prevision}"
                          th:value="${prevision.idInstPrevision}"
                          th:text="${prevision.descripcion}"
                          th:selected="${prevision.idInstPrevision == prevision?.idInstPrevision}">
                  </option>
                </select>
              </div>

              <div class="mt-4 mb-3">
                <label for="montoAfp" class="form-label">Monto afp</label>
                <input id="montoAfp" class="form-control" type="number"  name="montoAfp" th:value="${liquidacion.getMontoInstPrevisional()}" >
              </div>

              <div class="mt-4 mb-3">
                <label for="totalDescuento" class="form-label">Total Descuentos</label>
                <input id="totalDescuento" class="form-control" type="text"  name="totalDescuento" th:value="${liquidacion.getTotalDescuento()}" >
              </div>

              <div class="mt-4 mb-3">
                <label for="totalHaberes" class="form-label">Total Haberes</label>
                <input id="totalHaberes" class="form-control" type="text"  name="totalHaberes" th:value="${liquidacion.getTotalHaberes()}" >
              </div>

              <div class="form-group mb-3">
                <label for="anticipo">Anticipo</label>
                <input type="number" class="form-control" id="anticipo" name="anticipo"
                       placeholder="Ingrese anticipo" th:value="${liquidacion.getAnticipo()}">
              </div>

              <div class="mt-4 mb-3">
                <label for="sueldoLiquido" class="form-label">Sueldo Liquido</label>
                <input id="sueldoLiquido" class="form-control" type="text"  th:value="${liquidacion.getSueldoImponible()}">
              </div>
              <br>
              <button type="submit" class="btn btn-dark mt-4"> Editar Liquidacion</button>
            </form>

          </div>
        </div>
      </div>

      <footer th:include="~{../static/html/footer}">
      </footer>
    </div>
  </div>
</div>
<script src="https://kit.fontawesome.com/b446e10e54.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>
