<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>

<body>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <header th:include="~{../static/html/headerlog.html}"></header>
      <div class="container_formU">
        <div class="row">
          <div class="col-6 m-auto">
            <form th:action="@{/usuario/actualizar/{idUsuario}(idUsuario=${usuario.getIdUsuario()})}"id="registro" th:method="post">
              <div class="container text-center">
                <div class="col mb-4 mt-4">
                  <h3>Editar Usuario</h3>
                </div>
              </div>
              <div class="mb-3">
                <label for="run" class="form-label">Run</label>
                <input type="number" class="form-control" id="run" name="run" th:value="${usuario.getRun()}"required>
              </div>
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:value="${usuario.getNombre()}" required>
              </div>
              <div class="mb-3">
                <label for="apellido1" class="form-label">Primer apellido</label>
                <input type="text" class="form-control" id="apellido1" name="apellido1" th:value="${usuario.getApellido1()}" required>
              </div>
              <div class="mb-3">
                <label for="apellido2" class="form-label">Segundo apellido
                  (opcional)</label>
                <input type="text" class="form-control" id="apellido2" name="apellido2" th:value="${usuario.getApellido2()}">
              </div>
              <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="number" class="form-control" id="telefono" name="telefono" th:value="${usuario.getTelefono()}" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" th:value="${usuario.getEmail()}" required>
              </div>
              <div class="mb-3">
                <label for="clave" class="form-label">Password</label>
                <input type="password" class="form-control" id="clave" name="clave"  th:value="${usuario.getClave()}" required>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="perfil.idPerfil" th:value="3" th:checked="${usuario.getPerfil().getIdPerfil() == 3} ? 'true' : 'false'"
                       id="exampleRadios1" checked>
                <label class="form-check-label" for="exampleRadios1">Empleador</label>
              </div>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="perfil.idPerfil" th:value="2" th:checked="${usuario.getPerfil().getIdPerfil() == 2} ? 'true' : 'false'"
                       id="exampleRadios2">
                <label class="form-check-label" for="exampleRadios2">Contador</label>
              </div>
              <br>
              <button type="submit" class="btn btn-dark mt-4">Actualizar</button>
            </form>

          </div>
        </div>
      </div>

      <footer th:include="~{../static/html/footer}">
      </footer>
    </div>
  </div>
</div>
<script src="https://kit.fontawesome.com/b446e10e54.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>