<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
              <header th:include="~{../static/html/headerlog.html}"></header>
                <div class="boton_usuario mt-3 mb-2">
                    <a href="/empleador/crearEmpleador" class="btn btn-dark">Agregar empleador</a>
                </div>
                <div class="mt-4 text-center">
                    <table id="tablaEmpleadores" class="display table table-striped table-hover table-bordered">
                        <thead>
                        <tr class="table-dark">
                            <th>ID</th>
                            <th>Run</th>
                            <th>Nombre</th>
                            <th>Primer apellido</th>
                            <th>Email</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="empleador: ${empleadores}" >
                            <td th:text="${empleador.idEmpleador}"></td>
                            <td th:text="${empleador.run}"></td>
                            <td th:text="${empleador.nombre}"></td>
                            <td th:text="${empleador.apellido1}"></td>
                            <td th:text="${empleador.email}"></td>
                            <td class="button-cell">
                                <form th:action="@{/empleador/eliminar/{idEmpleador}(idEmpleador=${empleador.idEmpleador})}" th:method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este empleador?')">
                                    <button type="submit" name="idUsuario"  class="icon-button">
                                        <i class="fas fa-trash black-icon me-3"></i>
                                    </button>
                                </form>
                                <form th:action="@{/empleador/editar/{idEmpleador}(idEmpleador=${empleador.idEmpleador})}" th:method="post" onsubmit="return confirm('¿Estás seguro de que deseas modificar este empleador?')">
                                    <button type="submit" name="idUsuario"  class="icon-button">
                                        <i class="fas fa-edit black-icon"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
            
                    </table>
                </div>
                <footer th:include="~{../static/html/footer}">
                </footer>
            </div>
        </div>
    </div>
<script src="https://kit.fontawesome.com/b446e10e54.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
crossorigin="anonymous"></script>
</body>
</html>